<link rel="stylesheet" href="/stylesheets/style_index.css" />
    <nav id="navbar">
        <img src="" alt="">
        <div id="menu">
            <ul>
                <li><a href="#">My services billings</a></li>
                <li><a href="#">My Workspaces</a></li>
            </ul>
        </div>
        <div id="sign">
            <li><a class="button" href="signup">GET STARTED</a></li>
            <li>Already using amet? <a href="signin">Sign in</a></li>
        </div>
    </nav>
    
    <div class="main">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing eli</h1>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <img src="/images/workplace.jpg" alt="workplace">
    </div>
